.App {
  text-align: center;
}

.submission-form {
  max-width: 44.25rem;
  height: 18rem;
  margin: 2rem auto;
  border: 3px solid #e74c3c;
  background: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg");
  padding: 2rem;
}

label {
  display: block;
}

input {
  display: block;
  padding: .4rem;
  width: 100%;
}

.btn {
  border: 0;
  height: 2rem;
  width: auto;
  margin-top: 2rem;
  margin-right: 2rem;
  background: #343050;
  color: #fffc;
  text-transform: uppercase;

}

.money {
  font-size: 60rem;
}